<div>
    <h2>Login Page</h2>
    <form [formGroup]="loginRef" (ngSubmit)="signIn()" ng-model = "loginpage">
        <!-- <label> EmailId</label>
        <input type="email" formControlName="emailid"/><br/>
        <label> Password</label>
        <input type="password" formControlName="password"/><br/>
        <input type="submit" value="SignIn" />
        <input  type="reset" value="Reset" /> -->

        <p style="text-align: center; margin-bottom: 25px; font-weight: bolder;"></p>
        <h4>Login</h4>
        
        <div class = "mb-3">
            <label for = "email" class="form-label">Email</label>
            <input placeholder="Email" id = "email" formControlName="emailid" name="email" type = "email" class = "form-control" />
        </div>
        
        <div class = "mb-3">
            <label for = "password" class = "form-label">Password</label>
            <input id = "password" formControlName = "password" type="password" class="form-control" />
        </div>

        <br>
        <input type="submit" value="SignIn" />
        <input  type="reset" value="Reset" /> 
    </form>
    <span style="color:red"> {{msg}}</span>
</div>